#Save this file (after modifying ID_VENDOR and ID_MODEL if necessary) as /etc/udev/rules.d/81-thinkpad-dock.rules

# These values seem to work for "ThinkPad Mini Dock Plus Series 3"
SUBSYSTEM=="usb", ACTION=="add|remove", ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="100a", RUN+="/sbin/thinkpad-dock.sh"
